@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00FF00;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
}

.ball-container {
  position: relative;
  float: left;
  width: 140px;
  height: 110px;
  bottom: -40px; 
}

.ball-container.first{
  width: 190px;
  height: 160px;
  bottom: 15px;
}

.ball-container .bingo-ball {
  position:absolute;
  bottom: 0;
  font-family: 'Poppins';
  font-size: 50px;
  border-radius: 50%;
  border: solid 10px;
  height: 90px;
  width: 100px; 
  line-height:100px;
  margin-top: auto; 
  text-align: center;
  vertical-align: middle;  
  margin-right: 10px;
}

.ball-container .bingo-ball .text{
  margin: -5px;
}

.ball-container .back {
  position: absolute;
  height: 110px;
  width: 120px;
  margin-top: 10px;
  border-radius: 50%;
  z-index: -99;
}

.ball-container.first  .bingo-ball {
  font-size: 75px;
  height: 130px;
  width: 150px;
  line-height: 150px;
  border: solid 15px;
}

.ball-container.first .bingo-ball .text{
  margin: -7px;
}

.ball-container.first .back{
  height: 160px;
  width: 180px;
  margin-top: 15px;
}